---
import PostPreview from './PostPreview.astro'

const {posts} = Astro.props;

const sortedPosts = posts.sort((a: any, b: any) => {
    return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
});
---

<style>
    content {
        display: flex;
        margin-top: 16px;
    }

    ul {
        list-style: none;
        align-items: center;
        margin: auto;
        width: 70vw;
        padding: 0; # This was causing some odd alignment 
    }

</style>

<content>
    {sortedPosts.length === 0 ? <p>No posts yet!</p> : 
        <ul>
            {sortedPosts.map((post: any) => 
                <PostPreview 
                    title={post.frontmatter.title} 
                    publishDate={new Date(post.frontmatter.publishDate).toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    })})
                    author={post.frontmatter.author}
                    description={post.frontmatter.description}
                    slug={post.frontmatter.slug}
                />)}
        </ul>
    }
</content>


